:root {
    --ion-toolbar-background:transparent;
}

// Colors
$primary-color : #AB95F9;
$white-color : #fff;
$purple-color : #896AF9;
$second-color : #FFF9E6;
$light-purple-color : #F1EDFE;
$grey-color : #667085;
$dark-color : #344054;
$black-color : #000000;

// Font-size
$font-size-12 : 12px;
$font-size-14 : 14px;
$base-font-size : 16px;
$font-size-17 : 17px;
$font-size-20 : 20px;
$font-size-23 : 23px;
$font-size-32 : 32px;
$font-size-24 : 24px;
$font-size-48 : 48px;
$font-size-56 : 56px;

// Font-family
$nunito : 'Nunito', sans-serif;

// Font-weight
$font-weight-400 : 400;
$font-weight-500 : 500;
$font-weight-600 : 600;
$font-weight-700 : 700;
$font-weight-900 : 900;

// Line-height
$line-height-16 : 16px;
$line-height-20 : 20px;
$line-height-21 : 21px;
$line-height-24 : 24px;
$line-height-26 : 26px;
$line-height-32 : 32px;
$line-height-36 : 36px;
$line-height-38 : 38px;
$line-height-42 : 42px;
$line-height-58 : 58px;
$line-height-67 : 67px;

// Padding
$padding-left-5 : 5%;

// Values in px
$zero : 0px;
$two : 2px;
$four : 4px;
$eight : 8px;
$ten : 10px;
$thirteen : 13px;
$fourteen : 14px;
$fifteen : 15px;
$sixteen : 16px;
$twenty_px : 20px;
$twentyfour : 24px;
$twentyseven  : 27px;
$fourty : 40px;
$fourty : 40px;
$fourtyeight : 48px;
$fifty : 50px;
$sixfour : 64px;
$eighty : 80px;
$hundred : 100px;
$threeninty : 390px;

// Values in percentage
$one : 1%;
$three_perct : 3%;
$twenty : 20%;
$hundred_perct : 100%;

// Alignment
$text-center : center;
$text-left : left;

// Position
$absolute : absolute;

// Display
$block : block;
$flex : flex;

// Width
$width_96 : 96px;
$width_700 : 700px;
$width_900 : 900px;

// Height
$height_96 : 96px;
$height_700 : 700px;
$height_900 : 900px;