<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="goToHome()"> Logo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-text-center">
    <div>
      <div class="main_section">
        <div class="form_left ion-text-left">
            <h5 class="main_title">Subscribe</h5>
            <h6 class="sub_title">to our Monthly Surprise Box</h6>
            <img src="../../assets/icon/line.png" alt="Line Image" >
            <h5 class="contact_info">Contact Information</h5>
            <div class="common_sec">
              <ion-label>Your Name</ion-label>
              <input
                class="full-width name_input"
                type="text"
                placeholder="e.g Osama Alshathri"
              >
            </div>
              <div class="common_sec">
              <ion-label position="stacked">Email</ion-label>
              <input
                class="full-width email_input"
                type="text"
                placeholder="Osama@gmail.com"
              >
            </div>
            <br>
            <h5 class="contact_info">Child’s Information</h5>
            <div class="common_sec">
            <ion-label position="stacked">Child’s Full Name</ion-label>
            <input
              class="full-width name_input"
              type="text"
              placeholder="e.g Sarah Mohammad"
            >
            </div>
            <div class="common_sec">
              <ion-label position="stacked">Child’s Date of Birth</ion-label>
              <div>
                <select class="sel_input" type="text">
                  <option>Date</option>
                </select>
                <select class="sel_input" type="text">
                  <option>Month</option>
                </select>
                <select class="sel_input" type="text">
                  <option>Year</option>
                </select>
              </div>
            </div>
            <div class="common_sec">
              <ion-label position="stacked">Grade</ion-label>
              <input
                class="full-width name_input"
                type="text"
                placeholder="e.g Grade 2"
              >
            </div>
            <div class="common_sec">
            <ion-label position="stacked">Gender</ion-label>
            <ion-row>
              <ion-col sise="5" class="input-with-image">
                <input
                  class="full-width icon_input"
                  type="text"
                  placeholder="Boy"
                >
                <img src="../../assets/icon/vector.png" alt="Image" >
              </ion-col>
              <ion-col sise="5" class="input-with-image">
                <input
                  class="full-width icon_input"
                  type="text"
                  placeholder="Girl"
                >
                <img src="../../assets/icon/vector.png" alt="Image" >
              </ion-col>
            </ion-row>
            </div>
            <br>
            <h5 class="contact_info">As a parent select any 3 topics</h5>
            <ul>
              <li>Arabic</li>
              <li>Islamic</li>
              <li>English</li>
              <li>History</li>
              <li>Sports</li>
            </ul>
            <a class="full-width payment_btn">Continue to payment</a>
        </div>
        <div  class="form_right ion-text-left">
            <h5 class="main_title">Summary</h5>
            <h6 class="sub_title">of your Monthly Surprise Box</h6>
            <div class="mystery_box">
              <ion-row>
                <ion-col>
                  <h5>Mystery Box</h5>
                  <h6>X 1</h6>
                </ion-col>
                <ion-col>
                  <h5>Monthly</h5>
                  <h6>Monthly</h6>
                </ion-col>
              </ion-row>
            </div>

            <div class="order_summary">
              <ion-row>
                <ion-col>
                  <h5>Subtotal</h5>
                </ion-col>
                <ion-col>
                  <h6>SAR <b>456</b></h6>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h5>Shipping</h5>
                </ion-col>
                <ion-col>
                  <p class="free">Free</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h5>Taxes</h5>
                </ion-col>
                <ion-col>
                  <h6>SAR <b>4.0</b></h6>
                </ion-col>
              </ion-row>
              <img src="../../assets/icon/divider.png" alt="Divider Image" >
              <ion-row>
                <ion-col>
                  <h5 class="total">Total</h5>
                </ion-col>
                <ion-col>
                  <h6>SAR <b>456</b></h6>
                  <p class="monthly">Monthly</p>
                </ion-col>
              </ion-row>
            </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer_content">
          <img (click)="goToHome()" src="../../assets/logo.png" alt="Logo Image" >
          <ul class="footer_link">
            <li>Overview</li>
            <li>Help</li>
            <li>Privacy</li>
          </ul>
          <p>&copy; 2077 MyEdu</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
