// Import variables
@import "../../theme/variables.scss";

ion-header {
  background-color: $primary-color;
  z-index: unset;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

ion-content {
  --background: #ab95f9;
}

ion-toolbar {
  padding: $zero $sixfour !important;
}

ion-title {
  color: $white-color;
  font-size: $base-font-size;
}

.header-md {
  box-shadow: unset !important;
}

#container {
  font-family: $nunito;
  padding: $hundred $zero;
  background-color: $second-color !important;
  background: url("../../assets/subscription_banner.png") no-repeat center
    center;
  background-size: cover;
  height: auto;
  .main_section{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0px 0px 52px 0px #b9a9cd33;
    .form_left{
        width:60%;
        background-color: $white-color;
        padding: $twenty_px $twenty_px;
        border-top-left-radius: $twentyfour;
        border-bottom-left-radius: $twentyfour;
        ion-item {
          border: none !important;
        }
        .main_title {
          font-weight: $font-weight-700;
          font-size: $font-size-24;
          line-height: $line-height-32;
          margin: $zero;
        }
        .sub_title {
          font-weight: $font-weight-400;
          font-size: $base-font-size;
          line-height: $line-height-24;
          margin: $zero;
        }
        .contact_info {
          font-weight: $font-weight-700;
          font-size: $font-size-20;
          line-height: $line-height-32;
          margin: $zero;
        }
        .common_sec {
          padding-top: $ten;
        }
        ion-label {
          font-weight: $font-weight-500;
          font-size: $font-size-14;
          line-height: $line-height-20;
          padding: $ten $zero;
          color: $dark-color;
          margin: $zero;
        }
        input,
        .sel_input {
          border: 1px solid #d0d5dd;
          padding: $ten $fourteen;
          font-weight: $font-weight-400;
          font-size: $base-font-size;
          line-height: $line-height-24;
          border-radius: $eight;
        }
        .sel_input {
          width: 33.33%;
        }
        .name_input::placeholder,
        option {
          color: #98a2b3;
        }
        option::placeholder {
          color: #667085;
        }
        .full-width {
          width: $hundred_perct;
        }
        .email_input::placeholder {
          color: #98a2b3;
        }
        .input-with-image {
          position: relative;
        }
        .input-with-image input[type="text"] {
          padding-right: 30px;
        }
        .icon_input::placeholder {
          color: #202124;
        }
        .input-with-image img {
          position: absolute;
          top: 40%;
          right: 10px;
          transform: translateY(-50%);
          width: $thirteen;
          height: $thirteen;
        }
        ul {
          list-style: none;
          display: flex;
          padding: $zero;
          li {
            border-radius: $fourtyeight;
            border: 1px solid #e1e3e6;
            padding: $two $ten;
            margin: 3px;
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              border: 1px solid #6633ff;
              color: #6633ff;
              margin-right: 0;
            }
          }
        }
        .payment_btn {
          color: #896af9;
          background-color: $white-color;
          font-weight: $font-weight-900;
          font-size: $font-size-23;
          line-height: $line-height-38;
          border-radius: $sixteen;
          padding: $eight $twentyseven;
          border-radius: 1px solid #896af9;
          box-shadow: 4px 4px 0px -1px #896af9;
          display: $block;
          text-align: $text-center;
        }
    }
    .form_right{
        width: 40%;
        padding: $ten;
        background-color: $light-purple-color;
        color: #202124;
        border-top-right-radius: $twentyfour;
        border-bottom-right-radius: $twentyfour;
        .main_title {
          font-weight: $font-weight-700;
          font-size: $font-size-20;
          line-height: $line-height-24;
        }
        .sub_title {
          font-weight: $font-weight-400;
          font-size: $font-size-14;
          line-height: $line-height-20;
        }
        .mystery_box {
          border-radius: $eight;
          padding: $sixteen;
          background-color: $white-color;
          h5 {
            font-weight: $font-weight-700;
            font-size: $base-font-size;
            line-height: $line-height-24;
            color: #202124;
          }
          h6 {
            font-weight: $font-weight-400;
            font-size: $font-size-12;
            line-height: $line-height-16;
            color: #838383;
          }
        }
        .order_summary {
          h5 {
            font-weight: $font-weight-400;
            font-size: $font-size-14;
            line-height: $line-height-21;
            color: $black-color;
          }
          h6 {
            font-weight: $font-weight-400;
            font-size: $base-font-size;
            line-height: $line-height-24;
            color: #202124;
            b {
              font-weight: $font-weight-700;
            }
          }
          .free {
            font-weight: $font-weight-400;
            font-size: $font-size-14;
            line-height: $line-height-21;
            color: #707070;
          }
          .total {
            font-weight: $font-weight-600;
            font-size: $font-size-17;
            line-height: $line-height-26;
            color: #333333;
          }
          .monthly {
            font-weight: $font-weight-400;
            font-size: $font-size-12;
            line-height: $line-height-16;
            color: #838383;
          }
        }
    }
}
}

.footer {
  background: $white-color;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: $text-center;
    padding: $ten;
    .footer_link {
      list-style: none;
      display: $flex;
      padding: $zero;
      li {
        font-weight: $font-weight-600;
        font-size: $base-font-size;
        color: #475467;
        &:nth-child(2) {
          padding: $zero $twenty_px;
        }
      }
    }
    p {
      font-weight: $font-weight-400;
      font-size: $base-font-size;
      color: #667085;
    }
  }
}

/* CSS rules specific to mobile devices */
@media only screen and (max-width: 768px) {
    ion-toolbar {
        padding: 0px 0px !important;
    }
    #container{
        .main_section{
            display: block;
            .form_left{
                display: block;
                width:100%;
            }
            .form_right{
                display: block;
                width: 100%;
            }
        }
    }
}