<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Logo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-text-center">
    <h1 class="main_title">Discover the magic of our <br>surprise box</h1>
    <h6 class="sub_title">
      Unleash your child's curiosity with our educational subscription box
      <br>filled with fun and learning.
    </h6>
    <a class="subscribe" (click)="goToSubscription()">Subscribe Now</a>
    <div>
      <img
        src="../../assets/placeholder_image.png"
        alt="Placeholder image"
        class="placeholder_image"
      >
    </div>

    <div class="discover">
      <h6 class="discover_title">Discover</h6>
      <h1 class="discover_main_title">How It Works: Subscribe and<br> Receive Your Surprise Box</h1>
      <h5 class="discover_sub_title">
        Subscribe to our surprise subscription box and give your child the gift<br> of learning. Each month, we curate a box filled with educational<br> materials tailored to your child's age and interests.
      </h5>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <img src="../../assets/icon/subscribe_1.png" class="subscribe_img" alt="Subscribe image">
              <h3 class="subscribe_title">Step 1:<br> Subscribe</h3>
              <p class="subscribe_sub_title">Select a subscription plan that suits your child's learning needs and preferences.</p>
            </ion-col>
            <ion-col size="4">
              <img src="../../assets/icon/subscribe_2.png" class="subscribe_img" alt="Subscribe image">
              <h3 class="subscribe_title">Step 2:<br> Personalise Your Box</h3>
              <p class="subscribe_sub_title">Tell us about your child's age, interests, and learning<br> goals, and we'll customize their surprise box<br> accordingly.</p>
            </ion-col>
            <ion-col size="4">
              <img src="../../assets/icon/subscribe_3.png" class="subscribe_img" alt="Subscribe image">
              <h3 class="subscribe_title">Step 3:<br> Receive Your Surprise Box</h3>
              <p class="subscribe_sub_title">Sit back and relax as your child eagerly awaits the<br> arrival of their monthly surprise box filled with engaging<br> learning materials.</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <a class="subscribe" (click)="goToSubscription()">Subscribe Now</a>
    </div>

     <div class="footer">
      <div class="footer_content">
        <div>
          <ul class="footer_link">
            <li>Privacy Policy</li>
            <li>Terms of Service</li>
            <li>Cookie Settings</li>
          </ul>
        </div>
        <div>
          <p>&copy; 2023 Relume. All rights reserved.</p>
        </div>
      </div>
     </div>

  </div>
</ion-content>
