// Import variables
@import "../../theme/variables.scss";

#container {
  text-align: $text-center;
  position: $absolute;
  left: $zero;
  right: $zero;
  top: $twenty;
}

// main css
ion-header{
  background-color: $primary-color;
  z-index: unset;
}

ion-content{
  --background: #AB95F9;
}

ion-toolbar{
  padding: $zero $sixfour !important;
}

ion-title{
  color : $white-color;
  font-size: $base-font-size;
}

.header-md{
  box-shadow: unset !important;
}

#container {
  .main_title, .sub_title{
    color: $white-color;
    font-family: $nunito;
    padding-bottom: $twenty_px;
  }
  .main_title{
    font-weight: $font-weight-900;
    font-size: $font-size-56;
    line-height: $line-height-67;
  }
  .sub_title{
    font-weight: $font-weight-700;
    font-size: $font-size-24;
    line-height: $line-height-36;
  }
  .subscribe{
    font-family: $nunito;
    color: $purple-color;
    background-color: $white-color;
    font-weight: $font-weight-900;
    font-size: $font-size-23;
    line-height: $line-height-38;
    border-radius: $twentyfour;
    padding: $fifteen $twentyseven;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .placeholder_image{
    max-width: $width_900;
    height: auto;
    padding: $fifty $zero;
  }
  .discover{
    padding: $hundred $zero;
    background-color: $second-color !important;
    background: url('../../assets/group.png') no-repeat center center;
    background-size: cover; 
  }
}

.discover{
  font-family: $nunito;
  .discover_title{
   font-weight: $font-weight-600;
   font-size: $base-font-size;
   line-height: $line-height-24;
  }
  .discover_main_title{
    font-weight: $font-weight-700;
    font-size: $font-size-48;
    line-height: $line-height-58;
  }
  .discover_sub_title{
    font-weight: $font-weight-400;
    font-size: $font-size-24;
    line-height: $line-height-36;
  }
  .subscribe_img{
    display: $block;
    margin: 0 auto;
    width: $width_96;
    height: $height_96;
    padding-bottom: $ten;
  }
  .subscribe_title{
    font-weight: $font-weight-700;
    font-size: $font-size-32;
    line-height: $line-height-42;
  }
  .subscribe_sub_title{
    font-weight: $font-weight-400;
    font-size: $base-font-size;
    line-height: $line-height-24;
  }
  ion-grid{
    padding-bottom: $three_perct;
  }
}

.footer{
  background: $white-color;
  padding: $fifty $fourty $ten $fourty;
  .footer_content{
    padding: $fourty $zero;
    border-top: 1px solid #000000;
    display: $flex;
    justify-content: space-between;
    align-items: $text-center;
    .footer_link{
      list-style: none;
      display: $flex;
      padding: $zero;
      li{
        font-family: $nunito;
        font-size: $font-size-14;
        line-height: $line-height-21;
        &:nth-child(2){
          padding: $zero $twenty_px;
        }
      }
    }
  }
}



